{% macro begin(lang, name, entry, required, classes) %}
{% if classes %}
{% if classes.0 != 'del' %}
<div class="{{ classes.0 }} {{ required ? 'required' : '' }}">
{% endif %}
{% if classes.1 != 'del' %}
    <label class="{{ classes.1 }}" for="input-{{ name|replace({'_': '-'}) }}-{{ lang }}">{{ entry }}</label>
{% endif %}
{% if classes.2 != 'del' %}
    <div class="{{ classes.2 }}">
{% endif %}
{% else %}
<div class="row mb-3 {{ required ? 'required' : '' }}">
    <label class="col-sm-2 col-form-label" for="input-{{ name|replace({'_': '-'}) }}-{{ lang }}">{{ entry }}</label>
    <div class="col-sm-10">
{% endif %}
{% endmacro %}

{% macro end(lang, name, help, classes) %}
        {% if help %} <div class="form-text">{{ help }}</div> {% endif %}
        <div id="error-{{ name|replace({'_': '-'}) }}-{{ lang }}" class="invalid-feedback"></div>
{% if classes %}
{% if classes.2 != 'del' %}
    </div>
{% endif %}
{% if classes.0 != 'del' %}
</div>
{% endif %}
{% else %}
    </div>
</div>
{% endif %}
{% endmacro %}

{% macro input(lang, mod, name, value, entry, help, required, classes, type) %}
    {{ _self.begin(lang, name, entry, required, classes) }}
    {% if type == 'color' %}
        {% if value matches '/^#([A-Fa-f0-9]{6})$/' %}
            <button type="button" class="opex-remove-color position-absolute end-0 border-0 btn btn-light p-2" style="margin-right: 14px; margin-top: 2px;"><i class="fa-solid px-1 fa-circle-xmark"></i></button>
        {% else %}
            {% set type = 'text' %}
            <button type="button" class="opex-add-color position-absolute end-0 border-0 btn btn-light p-2" style="margin-right: 14px; margin-top: 2px;"><i class="fa-solid px-1 fa-eye-dropper"></i></button>
        {% endif %}
    {% endif %}
    <input type="{{ type|default('text') }}" name="{{ mod }}_ml[{{ lang }}][{{ name }}]" value="{{ value }}" placeholder="{{ entry }}" id="input-{{ name|replace({'_': '-'}) }}-{{ lang }}" class="form-control{% if type == 'color' %} form-control-color w-100{% endif %}"/>
    {{ _self.end(lang, name, help, classes) }}
{% endmacro %}

{% macro fonticonpicker(lang, mod, name, value, entry, help, required, classes) %}
    {{ _self.begin(lang, name, entry, required, classes) }}
    <div class="input-group">
        <input type="text" name="{{ mod }}_ml[{{ lang }}][{{ name }}]" value="{{ value }}" placeholder="{{ entry }}" id="input-{{ name|replace({'_': '-'}) }}-{{ lang }}" class="form-control"/>
        <button class="btn btn-outline-secondary fontello-btn" type="button"><i class="fas fa-icons"></i></button>
    </div>
    {{ _self.end(lang, name, help, classes) }}
{% endmacro %}

{% macro textarea(lang, mod, name, value, entry, help, required, classes, rows_count) %}
    {{ _self.begin(lang, name, entry, required, classes) }}
    <textarea name="{{ mod }}_ml[{{ lang }}][{{ name }}]" placeholder="{{ entry }}" id="input-{{ name|replace({'_': '-'}) }}-{{ lang }}" class="form-control" {% if rows_count %}rows="{{ rows_count }}"{% endif %}>{{ value }}</textarea>
    {{ _self.end(lang, name, help, classes) }}
{% endmacro %}

{% macro editor(lang, mod, name, value, entry, help, required, classes) %}
    {{ _self.begin(lang, name, entry, required, classes) }}
    <textarea name="{{ mod }}_ml[{{ lang }}][{{ name }}]" placeholder="{{ entry }}" id="input-{{ name|replace({'_': '-'}) }}-{{ lang }}" data-oc-toggle="ckeditor" class="w-100 position-relative">{{ value }}</textarea>
    {{ _self.end(lang, name, help, classes) }}
{% endmacro %}

{% macro select(lang, mod, name, value, entry, help, required, classes, options) %}
    {{ _self.begin(lang, name, entry, required, classes) }}
    <select name="{{ mod }}_ml[{{ lang }}][{{ name }}]" id="input-{{ name|replace({'_': '-'}) }}-{{ lang }}" class="form-select">
        {% for key, item in options %}
            <option value="{{ key }}"{% if key == value %} selected{% endif %}>{{ item }}</option>
        {% endfor %}
    </select>
    {{ _self.end(lang, name, help, classes) }}
{% endmacro %}

{% macro buttonYN(lang, mod, name, value, entry, help, required, classes) %}
    {{ _self.begin(lang, name, entry, required, classes) }}
    <div class="form-check form-switch form-switch-lg">
      <input type="hidden" name="{{ mod }}_ml[{{ lang }}][{{ name }}]" value="0"/>
      <input type="checkbox" name="{{ mod }}_ml[{{ lang }}][{{ name }}]" value="1" id="input-{{ name|replace({'_': '-'}) }}-{{ lang }}" class="form-check-input"{% if value %} checked{% endif %}/>
    </div>
  {{ _self.end(lang, name, help, classes) }}
{% endmacro %}

{% macro datetimepicker(lang, mod, name, value, entry, help, required, classes, type) %}
    {{ _self.begin(lang, name, entry, required, classes) }}
    <div class="input-group">
        <input type="text" name="{{ mod }}_ml[{{ lang }}][{{ name }}]" value="{{ value }}" placeholder="{{ entry }}" id="input-{{ name|replace({'_': '-'}) }}-{{ lang }}" class="form-control {{ type }}" />
        {% if type == 'date' %}
            <span class="input-group-text"><i class="fas fa-calendar"></i></span>
        {% elseif type == 'time' %}
            <span class="input-group-text"><i class="far fa-clock"></i></span>
        {% elseif type == 'datetime' %}
            <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
        {% endif %}
    </div>
    {{ _self.end(lang, name, help, classes) }}
{% endmacro %}

{% macro image(lang, mod, name, value, entry, help, required, classes, placeholder) %}
    {{ _self.begin(lang, name, entry, required, classes) }}
    <div class="card image">
        <img src="{% if value.thumb %}{{ value.thumb }}{% else %}{{ placeholder }}{% endif %}" alt="" title="" id="thumb-{{ name }}-{{ lang }}" data-oc-placeholder="{{ placeholder }}" class="card-img-top"/> <input type="hidden" name="{{ mod }}_ml[{{ lang }}][{{ name }}]" value="{{ value.image }}" id="input-{{ name }}-{{ lang }}"/>
        <div class="card-body">
            <button type="button" data-oc-toggle="image" data-oc-target="#input-{{ name }}-{{ lang }}" data-oc-thumb="#thumb-{{ name }}-{{ lang }}" class="btn btn-primary btn-sm btn-block"><i class="fas fa-pencil-alt"></i></button>
            <button type="button" data-oc-toggle="clear" data-oc-target="#input-{{ name }}-{{ lang }}" data-oc-thumb="#thumb-{{ name }}-{{ lang }}" class="btn btn-warning btn-sm btn-block"><i class="fas fa-trash-alt"></i></button>
        </div>
    </div>
    {{ _self.end(lang, name, help, classes) }}
{% endmacro %}

{% macro autocomplete(lang, mod, name, value, entry, help, required, classes, type) %}
    {{ _self.begin(lang, name, entry, required, classes) }}
    <input type="text" name="input-{{ name }}-{{ lang }}" value="" placeholder="{{ entry }}" id="input-{{ name|replace({'_': '-'}) }}-{{ lang }}" data-oc-target="list-{{ name }}-{{ lang }}" data-path="{{ type }}" class="form-control item-autocomplete" autocomplete="off"/>
    <ul id="list-{{ name }}-{{ lang }}" class="dropdown-menu"></ul>
    <div class="form-control p-0 position-relative" style="min-height: 142px;">
        <table data-id="{{ mod }}_ml[{{ lang }}][{{ name }}]" class="table table-sm m-0">
            <tbody class="item-well lh-1">
            {% for item in value %}
                <tr data-id="{{ mod }}_ml[{{ lang }}][{{ name }}]-{{ item.param_value }}">
                    <td class="w-100"><i class="fas fa-arrows-alt-v"></i> {{ item.param_label }}<input type="hidden" name="{{ mod }}_ml[{{ lang }}][{{ name }}][]" value="{{ item.param_value }}"/></td>
                    <td class="text-end"><button type="button" class="btn btn-danger btn-sm opex-remove-item"><i class="fas fa-minus-circle"></i></button></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <button type="button" data-opex-all-el class="btn border-0 py-0 btn-light position-absolute end-0" style="top: -35px; height: 32px;"><i class="fas fa-th"></i></button>
    </div>
    {{ _self.end(lang, name, help, classes) }}
{% endmacro %}

{% macro autocompleteone(lang, mod, name, value, entry, help, required, classes, type) %}
    {{ _self.begin(lang, name, entry, required, classes) }}
    <input type="text" name="input-{{ name }}-{{ lang }}" value="" placeholder="{{ entry }}" id="input-{{ name|replace({'_': '-'}) }}-{{ lang }}" data-oc-target="list-{{ name }}-{{ lang }}" data-path="{{ type }}" class="form-control item-autocomplete" autocomplete="off" data-one="1"/>
    <ul id="list-{{ name }}-{{ lang }}" class="dropdown-menu"></ul>
    <div class="form-control p-0 position-relative" style="height: 37px;">
        <table data-id="{{ mod }}_ml[{{ lang }}][{{ name }}]" class="table table-sm m-0">
            <tbody class="item-well lh-1">
            {% if value %}
                <tr data-id="{{ mod }}_ml[{{ lang }}][{{ name }}]-{{ value.param_value }}">
                    <td>{{ value.param_label }}<input type="hidden" name="{{ mod }}_ml[{{ lang }}][{{ name }}]" value="{{ value.param_value }}"/></td>
                    <td class="text-end"><button type="button" class="btn btn-danger btn-sm opex-remove-item"><i class="fas fa-minus-circle"></i></button></td>
                </tr>
            {% endif %}
            </tbody>
        </table>
        <button type="button" data-opex-all-el class="btn border-0 py-0 btn-light position-absolute end-0" style="top: -35px; height: 32px;"><i class="fas fa-th"></i></button>
    </div>
    {{ _self.end(lang, name, help, classes) }}
{% endmacro %}

{% macro val_only(lang, mod, name, value, entry, help, required, classes) %}
    {{ _self.begin(lang, name, entry, required, classes) }}
    <div class="form-control">{{ value }}</div>
    {{ _self.end(lang, name, help, classes) }}
{% endmacro %}