{% macro begin(name, entry, required, classes) %}
{% if classes %}
{% if classes.0 != 'del' %}
<div class="{{ classes.0 }} {{ required ? 'required' : '' }}">
{% endif %}
{% if classes.1 != 'del' %}
    <label class="{{ classes.1 }}" for="input-{{ name|replace({'_': '-'}) }}">{{ entry }}</label>
{% endif %}
{% if classes.2 != 'del' %}
    <div class="{{ classes.2 }}">
{% endif %}
{% else %}
<div class="row mb-3 {{ required ? 'required' : '' }}">
    <label class="col-sm-2 col-form-label" for="input-{{ name|replace({'_': '-'}) }}">{{ entry }}</label>
    <div class="col-sm-10">
{% endif %}
{% endmacro %}

{% macro end(name, help, classes) %}
        {% if help %} <div class="form-text">{{ help }}</div> {% endif %}
        <div id="error-{{ name|replace({'_': '-'}) }}" class="invalid-feedback"></div>
{% if classes %}
{% if classes.2 != 'del' %}
    </div>
{% endif %}
{% if classes.0 != 'del' %}
</div>
{% endif %}
{% else %}
    </div>
</div>
{% endif %}
{% endmacro %}

{% macro input(name, value, entry, help, required, classes, type) %}
    {{ _self.begin(name, entry, required, classes) }}
    <input type="{{ type|default('text') }}" name="{{ name }}" value="{{ value }}" placeholder="{{ entry }}" id="input-{{ name|replace({'_': '-'}) }}" class="form-control{% if type == 'color' %} form-control-color{% endif %}"/>
    {{ _self.end(name, help, classes) }}
{% endmacro %}

{% macro fonticonpicker(name, value, entry, help, required, classes) %}
    {{ _self.begin(name, entry, required, classes) }}
    <div class="input-group">
        <input type="text" name="{{ name }}" value="{{ value }}" placeholder="{{ entry }}" id="input-{{ name|replace({'_': '-'}) }}" class="form-control"/>
        <button class="btn btn-outline-secondary fontello-btn" type="button"><i class="fas fa-icons"></i></button>
    </div>
    {{ _self.end(name, help, classes) }}
{% endmacro %}

{% macro textarea(name, value, entry, help, required, classes, rows_count) %}
    {{ _self.begin(name, entry, required, classes) }}
    <textarea name="{{ name }}" placeholder="{{ entry }}" id="input-{{ name|replace({'_': '-'}) }}" class="form-control" {% if rows_count %}rows="{{ rows_count }}"{% endif %}>{{ value }}</textarea>
    {{ _self.end(name, help, classes) }}
{% endmacro %}

{% macro editor(name, value, entry, help, required, classes) %}
    {{ _self.begin(name, entry, required, classes) }}
    <textarea name="{{ name }}" placeholder="{{ entry }}" id="input-{{ name|replace({'_': '-'}) }}" data-oc-toggle="ckeditor" data-lang="{{ ckeditor }}" class="w-100 position-relative">{{ value }}</textarea>
    {{ _self.end(name, help, classes) }}
{% endmacro %}

{% macro select(name, value, entry, help, required, classes, options) %}
    {{ _self.begin(name, entry, required, classes) }}
    <select name="{{ name }}" id="input-{{ name|replace({'_': '-'}) }}" class="form-select">
        {% for key, item in options %}
            <option value="{{ key }}"{% if key == value %} selected{% endif %}>{{ item }}</option>
        {% endfor %}
    </select>
    {{ _self.end(name, help, classes) }}
{% endmacro %}

{% macro buttonYN(name, value, entry, help, required, classes) %}
  {{ _self.begin(name, entry, required, classes) }}
  <div class="form-check form-switch form-switch-lg">
    <input type="hidden" name="{{ name }}" value="0"/>
    <input type="checkbox" name="{{ name }}" value="1" id="input-{{ name|replace({'_': '-'}) }}" class="form-check-input"{% if value %} checked{% endif %}/>
  </div>
  {{ _self.end(name, help, classes) }}
{% endmacro %}

{% macro datetimepicker(name, value, entry, help, required, classes, type) %}
    {{ _self.begin(name, entry, required, classes) }}
    <div class="input-group">
        <input type="text" name="{{ name }}" value="{{ value }}" placeholder="{{ entry }}" id="input-{{ name|replace({'_': '-'}) }}" class="form-control {{ type }}" />
        {% if type == 'date' %}
            <span class="input-group-text"><i class="fas fa-calendar"></i></span>
        {% elseif type == 'time' %}
            <span class="input-group-text"><i class="far fa-clock"></i></span>
        {% elseif type == 'datetime' %}
            <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
        {% endif %}
    </div>
    {{ _self.end(name, help, classes) }}
{% endmacro %}

{% macro image(name, value, entry, help, required, classes, placeholder) %}
    {{ _self.begin(name, entry, required, classes) }}
    <div class="card image">
        <img src="{% if value.thumb %}{{ value.thumb }}{% else %}{{ placeholder }}{% endif %}" alt="" title="" id="thumb-{{ name }}" data-oc-placeholder="{{ placeholder }}" class="card-img-top"/> <input type="hidden" name="{{ name }}" value="{{ value.image }}" id="input-{{ name }}"/>
        <div class="card-body">
            <button type="button" data-oc-toggle="image" data-oc-target="#input-{{ name }}" data-oc-thumb="#thumb-{{ name }}" class="btn btn-primary btn-sm btn-block"><i class="fas fa-pencil-alt"></i></button>
            <button type="button" data-oc-toggle="clear" data-oc-target="#input-{{ name }}" data-oc-thumb="#thumb-{{ name }}" class="btn btn-warning btn-sm btn-block"><i class="fas fa-trash-alt"></i></button>
        </div>
    </div>
    {{ _self.end(name, help, classes) }}
{% endmacro %}

{% macro autocomplete(name, value, entry, help, required, classes, type) %}
    {{ _self.begin(name, entry, required, classes) }}
    <input type="text" name="input-{{ name }}" value="" placeholder="{{ entry }}" id="input-{{ name|replace({'_': '-'}) }}" list="list-{{ name }}" data-path="{{ type }}" class="form-control item-autocomplete"/>
    <datalist id="list-{{ name }}"></datalist>
    <div class="form-control p-0" style="min-height: 142px;">
        <table data-id="{{ name }}" class="table table-sm m-0">
            <tbody class="item-well">
                {% for item in value %}
                    <tr data-id="{{ name }}-{{ item.param_value }}">
                        <td class="w-100"><i class="fas fa-arrows-alt-v"></i> {{ item.param_label }}<input type="hidden" name="{{ name }}[]" value="{{ item.param_value }}"/></td>
                        <td class="text-end"><button type="button" class="btn btn-danger btn-sm btn-remove-item"><i class="fas fa-minus-circle"></i></button></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {{ _self.end(name, help, classes) }}
{% endmacro %}

{% macro autocompleteone(name, value, entry, help, required, classes, type) %}
    {{ _self.begin(name, entry, required, classes) }}
    <input type="text" name="input-{{ name }}" value="" placeholder="{{ entry }}" id="input-{{ name|replace({'_': '-'}) }}" list="list-{{ name }}" data-path="{{ type }}" class="form-control item-autocomplete" data-one="1"/>
    <datalist id="list-{{ name }}"></datalist>
    <div class="form-control p-0" style="height: 37px;">
        <table data-id="{{ name }}" class="table table-sm m-0">
            <tbody class="item-well">
                {% if value %}
                    <tr data-id="{{ name }}-{{ value.param_value }}">
                        <td>{{ value.param_label }}<input type="hidden" name="{{ name }}" value="{{ value.param_value }}"/></td>
                        <td class="text-end"><button type="button" class="btn btn-danger btn-sm btn-remove-item"><i class="fas fa-minus-circle"></i></button></td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
    {{ _self.end(name, help, classes) }}
{% endmacro %}

{% macro val_only(name, value, entry, help, required, classes) %}
    {{ _self.begin(name, entry, required, classes) }}
    <div class="form-control">{{ value }}</div>
    {{ _self.end(name, help, classes) }}
{% endmacro %}