{% macro begin(key, lang, name, entry, required, classes) %}
{% if classes %}
{% if classes.0 != 'del' %}
<div class="{{ classes.0 }}">
{% endif %}
{% if classes.1 != 'del' %}
    <label class="{{ classes.1 }}" for="input-{{ name|replace({'_': '-'}) }}-{{ lang }}-{{ key }}">{{ entry }}</label>
{% endif %}
{% if classes.2 != 'del' %}
    <div class="{{ classes.2 }}">
{% endif %}
{% else %}
<div class="row mb-3 {{ required ? 'required' : '' }}">
  <label class="col-sm-2 col-form-label" for="input-{{ name|replace({'_': '-'}) }}-{{ lang }}-{{ key }}">{{ entry }}</label>
  <div class="col-sm-10">
{% endif %}
{% endmacro %}

{% macro end(key, lang, name, help, classes) %}
    {% if help %} <div class="form-text">{{ help }}</div> {% endif %}
    <div id="error-{{ name|replace({'_': '-'}) }}-{{ lang }}-{{ key }}" class="invalid-feedback"></div>
{% if classes %}
{% if classes.2 != 'del' %}
    </div>
{% endif %}
{% if classes.0 != 'del' %}
</div>
{% endif %}
{% else %}
    </div>
</div>
{% endif %}
{% endmacro %}

{% macro input(key, lang, mod, name, value, entry, help, required, classes, type) %}
  {{ _self.begin(key, lang, name, entry, required, classes) }}
  <input type="{{ type|default('text') }}" name="{{ mod }}_mljs[{{ lang }}][{{ key }}][{{ name }}]" value="{{ value }}" placeholder="{{ entry }}" id="input-{{ name|replace({'_': '-'}) }}-{{ lang }}-{{ key }}" class="form-control{% if type == 'color' %} form-control-color{% endif %}"/>
  {{ _self.end(key, lang, name, help, classes) }}
{% endmacro %}

{% macro fonticonpicker(key, lang, mod, name, value, entry, help, required, classes) %}
  {{ _self.begin(key, lang, name, entry, required, classes) }}
  <div class="input-group">
    <input type="text" name="{{ mod }}_mljs[{{ lang }}][{{ key }}][{{ name }}]" value="{{ value }}" placeholder="{{ entry }}" id="input-{{ name|replace({'_': '-'}) }}-{{ lang }}-{{ key }}" class="form-control"/>
    <button class="btn btn-outline-secondary fontello-btn" type="button"><i class="fas fa-icons"></i></button>
  </div>
  {{ _self.end(key, lang, name, help, classes) }}
{% endmacro %}

{% macro textarea(key, lang, mod, name, value, entry, help, required, classes, rows_count) %}
  {{ _self.begin(key, lang, name, entry, required, classes) }}
  <textarea name="{{ mod }}_mljs[{{ lang }}][{{ key }}][{{ name }}]" placeholder="{{ entry }}" id="input-{{ name|replace({'_': '-'}) }}-{{ lang }}-{{ key }}" class="form-control" {% if rows_count %}rows="{{ rows_count }}"{% endif %}>{{ value }}</textarea>
  {{ _self.end(key, lang, name, help, classes) }}
{% endmacro %}

{% macro editor(key, lang, mod, name, value, entry, help, required, classes) %}
  {{ _self.begin(key, lang, name, entry, required, classes) }}
  <textarea name="{{ mod }}_mljs[{{ lang }}][{{ key }}][{{ name }}]" placeholder="{{ entry }}" id="input-{{ name|replace({'_': '-'}) }}-{{ lang }}-{{ key }}" data-oc-toggle="ckeditor" data-lang="{{ ckeditor }}" class="w-100 position-relative">{{ value }}</textarea>
  {{ _self.end(key, lang, name, help, classes) }}
{% endmacro %}

{% macro select(key, lang, mod, name, value, entry, help, required, classes, options) %}
  {{ _self.begin(key, lang, name, entry, required, classes) }}
  <select name="{{ mod }}_mljs[{{ lang }}][{{ key }}][{{ name }}]" id="input-{{ name|replace({'_': '-'}) }}-{{ lang }}-{{ key }}" class="form-select">
    {% for key, item in options %}
      <option value="{{ key }}"{% if key == value %} selected{% endif %}>{{ item }}</option>
    {% endfor %}
  </select>
  {{ _self.end(key, lang, name, help, classes) }}
{% endmacro %}

{% macro buttonYN(key, lang, mod, name, value, entry, help, required, classes) %}
  {{ _self.begin(key, lang, name, entry, required, classes) }}
  <div class="form-check form-switch form-switch-lg">
    <input type="hidden" name="{{ mod }}_mljs[{{ lang }}][{{ key }}][{{ name }}]" value="0"/>
    <input type="checkbox" name="{{ mod }}_mljs[{{ lang }}][{{ key }}][{{ name }}]" value="1" id="input-{{ name|replace({'_': '-'}) }}-{{ lang }}-{{ key }}" class="form-check-input"{% if value %} checked{% endif %}/>
  </div>
  {{ _self.end(key, lang, name, help, classes) }}
{% endmacro %}

{% macro datetimepicker(key, lang, mod, name, value, entry, help, required, classes, type) %}
  {{ _self.begin(key, lang, name, entry, required, classes) }}
  <div class="input-group">
    <input type="text" name="{{ mod }}_mljs[{{ lang }}][{{ key }}][{{ name }}]" value="{{ value }}" placeholder="{{ entry }}" id="input-{{ name|replace({'_': '-'}) }}-{{ lang }}-{{ key }}" class="form-control {{ type }}"/>
    {% if type == 'date' %}
      <span class="input-group-text"><i class="fas fa-calendar"></i></span>
    {% elseif type == 'time' %}
      <span class="input-group-text"><i class="far fa-clock"></i></span>
    {% elseif type == 'datetime' %}
      <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
    {% endif %}
  </div>
  {{ _self.end(key, lang, name, help, classes) }}
{% endmacro %}

{% macro image(key, lang, mod, name, value, entry, help, required, classes, placeholder) %}
  {{ _self.begin(key, lang, name, entry, required, classes) }}
  <div class="card image">
    <img src="{{ value.thumb }}" alt="" title="" id="thumb-{{ name }}-{{ lang }}-{{ key }}" data-oc-placeholder="{{ placeholder }}" class="card-img-top"/> <input type="hidden" name="{{ mod }}_mljs[{{ lang }}][{{ key }}][{{ name }}]" value="{{ value.image }}" id="input-{{ name }}-{{ lang }}-{{ key }}"/>
    <div class="card-body">
      <button type="button" data-oc-toggle="image" data-oc-target="#input-{{ name }}-{{ lang }}-{{ key }}" data-oc-thumb="#thumb-{{ name }}-{{ lang }}-{{ key }}" class="btn btn-primary btn-sm btn-block"><i class="fas fa-pencil-alt"></i></button>
      <button type="button" data-oc-toggle="clear" data-oc-target="#input-{{ name }}-{{ lang }}-{{ key }}" data-oc-thumb="#thumb-{{ name }}-{{ lang }}-{{ key }}" class="btn btn-warning btn-sm btn-block"><i class="fas fa-trash-alt"></i></button>
    </div>
  </div>
  {{ _self.end(key, lang, name, help, classes) }}
{% endmacro %}

{% macro autocomplete(key, lang, mod, name, value, entry, help, required, classes, type) %}
  {{ _self.begin(key, lang, name, entry, required, classes) }}
  <input type="text" name="input-{{ name }}-{{ lang }}-{{ key }}" value="" placeholder="{{ entry }}" id="input-{{ name|replace({'_': '-'}) }}-{{ lang }}-{{ key }}" list="list-{{ name }}-{{ lang }}-{{ key }}" data-path="{{ type }}" class="form-control item-autocomplete"/>
  <datalist id="list-{{ name }}-{{ lang }}-{{ key }}"></datalist>
  <div class="form-control p-0" style="min-height: 142px;">
    <table data-id="{{ mod }}_mljs[{{ lang }}][{{ key }}][{{ name }}]" class="table table-sm m-0">
      <tbody class="item-well">
      {% for item in value %}
        <tr data-id="{{ mod }}_mljs[{{ lang }}][{{ key }}][{{ name }}]-{{ item.param_value }}">
          <td class="w-100"><i class="fas fa-arrows-alt-v"></i> {{ item.param_label }}<input type="hidden" name="{{ mod }}_mljs[{{ lang }}][{{ key }}][{{ name }}][]" value="{{ item.param_value }}"/></td>
          <td class="text-end">
            <button type="button" class="btn btn-danger btn-sm btn-remove-item"><i class="fas fa-minus-circle"></i></button>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
  {{ _self.end(key, lang, name, help, classes) }}
{% endmacro %}

{% macro autocompleteone(key, lang, mod, name, value, entry, help, required, classes, type) %}
  {{ _self.begin(key, lang, name, entry, required, classes) }}
  <input type="text" name="input-{{ name }}-{{ lang }}-{{ key }}" value="" placeholder="{{ entry }}" id="input-{{ name|replace({'_': '-'}) }}-{{ lang }}-{{ key }}" list="list-{{ name }}-{{ lang }}-{{ key }}" data-path="{{ type }}" class="form-control item-autocomplete" data-one="1"/>
  <datalist id="list-{{ name }}-{{ lang }}-{{ key }}"></datalist>
  <div class="form-control p-0" style="height: 37px;">
    <table data-id="{{ mod }}_mljs[{{ lang }}][{{ key }}][{{ name }}]" class="table table-sm m-0">
      <tbody class="item-well">
      {% if value %}
        <tr data-id="{{ mod }}_mljs[{{ lang }}][{{ key }}][{{ name }}]-{{ value.param_value }}">
          <td>{{ value.param_label }}<input type="hidden" name="{{ mod }}_mljs[{{ lang }}][{{ key }}][{{ name }}]" value="{{ value.param_value }}"/></td>
          <td class="text-end">
            <button type="button" class="btn btn-danger btn-sm btn-remove-item"><i class="fas fa-minus-circle"></i></button>
          </td>
        </tr>
      {% endif %}
      </tbody>
    </table>
  </div>
  {{ _self.end(key, lang, name, help, classes) }}
{% endmacro %}